
<table [width]=this.gridOptions.width>
  <thead>
    <tr>
      <th *ngFor="let col of this.gridOptions.columnsDefs" [width]=col.width [innerHTML]=col.headerName></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let char of this.gridOptions.rowData">
      <td *ngFor="let col of this.gridOptions.columnsDefs">
        <div [ngSwitch]="col.cellEditor">
            <ng-template ngSwitchDefault >
                <div class="cellLabel">
                  <label>{{char[col.field].value}}</label>
                  <span class="unit">{{char[col.field].um}}</span>
                </div>
              </ng-template>
        <ng-template [ngSwitchCase]="'input'">
            <div>
                <input type="text" id="name" readonly  [(ngModel)]="char[col.field].value" />
                <span class="unit">{{char[col.field].um}}</span>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'button'">
          <button>{{char[col.field].value}}</button>
        </ng-template>
        <ng-template [ngSwitchCase]="'dropdown'" ></ng-template>
      </div>
      </td>
    </tr>
  </tbody>
</table>