body {
  background-color: #10245e;
}

.listadopiscinas-container {
  display:flex;
  flex-direction: row;
  padding:20px;
  &__datosProductivos {
    width: 870px;
    height: 840px;
    border-radius: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 15, 70, 0.1);
    background-color: white;
    padding: 10px;
    margin:20px;

    .datosProductivosTitle {
      width: 193px;
      height: 60px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: -0.7px;
      color: #0c1f5e;
      margin-left: 15px;
      margin-top: 30px;
    }
  }
  &__parametros {
    width: 870px;
    height: 840px;
    border-radius: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 15, 70, 0.1);
    background-color: white;
    padding: 10px;
    margin:20px;
    .parametrosTitle {
      width: 193px;
      height: 60px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: -0.7px;
      color: #0c1f5e;
      margin-left: 15px;
      margin-top: 30px;
    }
  }
}
