<app-header-datepicker></app-header-datepicker>
<app-custom-dropdown [list]=list [selectedId]=-1></app-custom-dropdown>

<div class="listadopiscinas-container">
    <div class="listadopiscinas-container__datosProductivos">
            <div class="datosProductivosTitle">Datos Productivos</div>
            <app-custom-table [gridOptions]="this.gridOptions1"></app-custom-table>
    </div>
    <div class="listadopiscinas-container__parametros">
            <div class="parametrosTitle">Parametros</div>
            <app-custom-table [gridOptions]="this.gridOptions1"></app-custom-table>
    </div>
</div>
